name: Deploy to Cloud Run

on:
  push:
    branches:
      - main
  workflow_dispatch:


env:
  REGION: asia-northeast3
  SERVICE: ping-server

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.WIF_PROVIDER }}
          service_account: ${{ secrets.WIF_SERVICE_ACCOUNT }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v3

      - name: Configure gcloud project
        run: gcloud config set project "${{ secrets.GCP_PROJECT_ID }}"

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy "$SERVICE" \
            --source . \
            --region "$REGION" \
            --platform managed \
            --allow-unauthenticated
